* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}
.header {
  padding: 0.5rem 1rem;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: hsl(0, 0%, 100%);
}
.header .header-logo {
  padding-top: 0.5rem;
}

.header .nav-links {
  background-color: hsl(0, 11%, 91%);
  border-radius: 1rem;
  list-style: none;
  padding: 10px 0;
  position: absolute;
  top: 80px;
  left: 10%;
  width: 80%;
  display: none;
  box-shadow: 0px 100px 100px 100px hsla(30, 9%, 32%, 0.76);
}
.nav-links li {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.nav-links li a {
  text-decoration: none;
  color: rgb(16, 15, 15);
}

.header .toggle {
  display: none;
}

.menu-btn .hamburger-open,
.menu-btn .hamburger-close {
  display: none;
  cursor: pointer;
}
/*  toggle conditions */

.toggle:not(:checked) + .menu-btn .hamburger-open {
  display: block;
}
.toggle:not(:checked) + .menu-btn .hamburger-close {
  display: none;
}
.toggle:checked + .menu-btn .hamburger-open {
  display: none;
}
.toggle:checked + .menu-btn .hamburger-close {
  display: block;
}

.toggle:checked + .menu-btn + .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .btn {
  display: none;
}

/* main */

/* section */

/*first page image and background image*/

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-container {
  background-image: url("./images/bg-intro-mobile.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.image-container .top {
  width: 100%;
  margin-top: -22%;
}

/* first page intro and button */

.intro {
  padding: 1.5rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.intro-heading {
  text-align: center;
  font-size: 2.5rem;
  color: hsla(30, 29%, 3%, 0.784);
  font-weight: normal;
}
.intro-para {
  text-align: center;
  color: hsla(26, 12%, 11%, 0.679);
  font-size: 1rem;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

.btn {
  padding: 0.8rem 1.5rem;
  border-radius: 5rem;
  border-style: none;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.btn:hover{
    background: linear-gradient(to right,  hsl(136, 65%, 78%), hsl(192, 70%, 74%));
}
.btn-about-page {
  margin: 2rem auto;
}

.btn .btn-request {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* section */

/* second page */

.bank-features-page {
  padding: 1.5rem 1rem;
  background-color: hsl(0, 0%, 92%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.choose-easybank-heading {
  padding: 1rem 3rem;
  font-weight: bold;
  text-align: center;
  color: hsla(26, 12%, 11%, 0.679);
}

.choose-easybank-heading-info {
  text-align: center;
  font-size: 1rem;
  color: hsla(26, 12%, 11%, 0.679);
}
.easybank-info {
  margin: 2rem 0;
}
.easybank-info-features {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.easybank-info-li {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.easybank-features-image,
.easybank-features-heading,
.easybank-features-para {
  margin: 0.8rem 0;
}

.easybank-features-para,
.easybank-features-heading {
  text-align: center;
  font-size: 1rem;
  color: hsla(26, 12%, 11%, 0.679);
}

/* section */

/* third page */

.article-page {
  background-color: hsl(0, 0%, 96%);
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.article-page-heading {
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  color: hsla(26, 12%, 11%, 0.679);
  font-weight: normal;
}
.latest-article-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest-article-li {
  background-color: hsl(0, 0%, 98%);
  margin: 1rem 1rem;
  list-style: none;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.latest-article-image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
.latest-article-feature {
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.article-author,
.article-li-heading,
.article-li-info {
  margin: 0.3rem;
  color: hsla(26, 12%, 11%, 0.679);
  font-weight: normal;
}
.article-li-heading {
  font-size: 1.2rem;
}
.article-li-info {
  font-size: 0.8rem;
}

/* footer */

footer {
    background-color: hsl(234, 24%, 16%);
    color: hsl(0, 0%, 100%);
    padding: 2rem 0;
  }
  
  .footer-logo-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    padding: 1.5rem;
  }
  
  .social-media-icons a {
    margin: 0px 5px;
    padding: 0;
  }
  
  .footer-menu ul {
    margin-bottom: 2rem;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  .footer-menu li{
    transition: 0.3s ease;
  }
  .footer-menu li:hover {
    color: hsl(142, 52%, 59%);
    cursor: pointer;
  }
  
  .btn-footer {
    margin: auto;
  }
  .footer-bottom{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    row-gap: 1rem;
  }
  
  .copyright {
    text-align: center;
    color: gray;
    font-size: 0.9rem;
  }
@media screen and (min-width: 760px) {
  .header {
    padding: 2% 5%;
  }
  .image-container {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 0 10vw;
    justify-content: space-between;
    position: static;
    width: 100%;
    margin: 0 auto;
  }
  .header .toggle,
  .header .menu-btn {
    display: none;
  }
  .header .nav-links {
    padding: 0 10vw;
    display: flex;
    justify-content: center;
    position: static;
    box-shadow: none;
    background-color: hsl(0, 0%, 100%);
  }
  .header .nav-links li {
    padding: 0 8%;
    position: relative;
    cursor: pointer;
  }
  .header .nav-links li a{
    position: relative;
    cursor: pointer;
  }
  .header .nav-links li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(
      to right,
      hsl(136, 65%, 51%) 20%,
      hsl(192, 70%, 51%)
    );
    bottom: -90%;
    margin-left:auto;
    margin-right: auto;
    display: none;
  }
  .header .nav-links li a:hover:after{
    display: block;
  }
  .header .btn {
    display: block;
    margin-right: 4.5vw;
  }
  .header .btn-header {
    width: 15%;
  }
  .header .btn .btn-request {
    text-wrap: nowrap;
  }

  /* first page - ABOUT-PAGE */
  .main {
    overflow: hidden;
    width: 100%;
  }
  .about-page {
    flex-direction: row-reverse;
    width: 100%;
  }
  .image-container {
    width: 50%;
  }
  .intro {
    width: 50%;
  }
  .image-container {
    width: 100%;
    background-image: url("./images/bg-intro-desktop.svg");
    background-size: 150% 150%;
    background-position: bottom -6.5rem left -3rem;
    
  }

  .image-container .top {
    width: 100%;
    margin-top: 0;
    margin: -16% 0% -20% 17%;
  }
  .intro {
    padding: 0;
    margin-left: 10%;
    justify-content: center;
    align-items: flex-start;
  }
  .intro-para {
    text-align: start;
    width: 70%;
  }
  .btn-about-page {
    align-self: flex-start;
    margin-top: 1rem;
    margin-left: 0;
  }

  /* second page*/

  .bank-features-page {
    padding:  5% 10%;
  }
  .choose-easybank {
    align-self: flex-start;
  }

  .choose-easybank-heading {
    padding: 1rem 0;
    text-align: start;
  }
  .choose-easybank-heading-info{
    text-align: start;
  }
  .easybank-info-features {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .easybank-features-heading,
  .easybank-features-para {
    text-align: start;
    align-self: flex-start;
  }
  .easybank-features-image {
    align-self: flex-start;
  }

  /* third page */
  .article-page {
    padding:  5% 10%;
  }
  .article-page-heading {
    padding: 1rem;
    margin: 0;
    align-self: flex-start;
  }
  .latest-article-info {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
 .latest-article-image {
    height: 10rem;
    width: 100%;
  }
  .article-li-heading{
    transition: 0.3s ease;
  }
  .article-li-heading:hover{
    color: hsl(142, 52%, 59%);
    cursor: pointer;
  }


  /* footer */

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  .footer-top{
    width: 60%;
    display: flex;
  }
  .footer-logo-social {
    row-gap: 3rem;
    margin-right: 10%;
  }

  .footer-menu {
    columns: 2;
  }
  .social-media-icons a{
    transition: 0.2s ease;
  }
  .social-media-icons a:hover svg path{
    cursor: pointer;
    fill: hsl(142, 52%, 59%);
  }

  .footer-menu ul {
    margin: auto;
    padding: 0.5rem;
  }
  .footer-menu ul li{
    align-self: flex-start;
  }
  .footer-bottom{
    width: 20%;
  }
}
